* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011f3f;
  min-width: 480px;
}

.level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
  color: #fef2bf;
}

.container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 480px;
}

.btn {
  margin: 20px;
  height: 200px;
  max-width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.mobile {
  display: none;
}

@media (max-width: 480px) {
  .level-title {
    font-size: 1.5rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    font-size: 1rem;
  }
}